<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]>
<!--><html class="no-js" lang="en"><!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>Incognito</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="css/base.css"/>
	<link rel="stylesheet" href="css/skeleton.css"/>
	<link rel="stylesheet" href="css/layout.css"/>
	<link rel="stylesheet" href="css/colorbox.css"/>

	<link href="https://fonts.googleapis.com/css?family=Merienda" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=OpenSans-Light-webfont" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Averia+Serif+Libre" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">

    <!--[if lte IE 8]>
        <script src="js/html5.js"></script>
    <![endif]-->

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="images/favicon.png">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
</head>
<body class="preload">
<!--
<a href="http://www.bestcss.in/user/detail/Apollo-445" style="width:106px;height:92px;position:absolute;top:0px;right:0px;z-index:3999;text-indent:-9999px;background: url(images/css1.png) no-repeat;" target="_blank">Best CSS Web Gallery</a>
<a href="http://www.csslight.com/user/detail/Apollo_3433" style="width:100px;height:38px;position:absolute;top:100px;right:0px;z-index:3999;text-indent:-9999px;background: url(images/css2.png) no-repeat;" target="_blank">CSS Light Web Gallery</a>
<a href="http://csslight.com/user/detail/Apollo_3433" style="width:80px;height:56px;position:absolute;top:158px;right:0px;z-index:3999;text-indent:-9999px;background: url(images/css3.png) no-repeat;" target="_blank">CSS Light Web Gallery</a>
<a href="http://cssreel.com/Website/apollo" style="width:140px;height:46px;position:absolute;top:220px;right:0px;z-index:3999;text-indent:-9999px;background: url(images/css4.png) no-repeat;" target="_blank">CSS Reel Web Gallery</a> -->
	<!-- Primary Page Layout
	================================================== -->

	<div id="preloader">
		<div id="status">&nbsp;</div>
	</div>

	<!-- Home
	================================================== -->






	<div id="home">

		<div class="home-text">
			<div class="container">
				<div class="sixteen columns">
					<img src="images/sjit.png" width="100" height="100" style="float:left">
					<img src="images/logoforit.png" width="100" height="100" style="float:right">
					<div class="home-text-top">St. Joseph's Institute of Technology <p style="font-size:30px">Dept. of Information Technology</div>
				</div>
			</div>
			<div class="container">
				<div class="sixteen columns">
					<div class="line"></div>
				</div>
			</div>
			<div class="container">
				<div class="sixteen columns">
					<div class="home-text-middle"><span></span>Incogn<span>it</span>o '18</div>
				</div>
			</div>
			<div class="container">
				<div class="sixteen columns">
					<div class="line"></div>
				</div>

			</div>
			<div class="container">
				<div class="sixteen columns">
					<div class="home-text-bottom"></div>
				</div>
			</div>
			<div class="container">
				<div class="sixteen columns">
					<div class="cl-effect-18">
						<a href="#devnation" data-hover="Dev Nation">Dev Nation</a>
						<a href="#mindsurfer" data-hover="Mind Surfers">Mind Surfers</a>
						<a href="#marveldc" data-hover="Marvel vs DC">Marvel vs DC</a>
						<a href="#bringitback" data-hover="Bring It Back">Bring It Back</a>
						<a href="#digitalplanet" data-hover="Digital Planet">Digital Planet</a>
					</div>
				</div>
			</div>
		</div>
<br>
<br>
<br>


	<div id="arrow"><a href="#profile" class="scroll" >About Us</a></div>

	</div>


<div id="cbp-so-scroller" class="cbp-so-scroller">


	<nav id="navigation">

	<a href="#home" class="scroll" ><div class="logo"><img src="images/incognitologo.png" alt="logo"</a></div>
                    <ul id="menu">
                        <li>
                            <a href="#home" class="scroll">Home</a>
                        </li>
                        <li class="current">
                            <a href="#profile" class="scroll">About Us</a>
                        </li>
                        <li>
                            <a href="#events" class="scroll">Events</a>
                        </li>
                        <li>
                            <a href="#services" class="scroll">Hospitality</a>
                        </li>

                        <li>
                            <a href="#cons" class="scroll">Location</a>
                        </li>
                        <li>
                            <a href="#contact" class="scroll">Register</a>
                        </li>
                    </ul>
	</nav>
	<div id="profile">
		<div class="title">
			<div class="container">
			<section class="cbp-so-section">
				<div class="sixteen columns cbp-so-side cbp-so-side-left">
					<h1><strong><span>Who</span></strong></h1>
					<div class="angle"><h1><strong>We are?</strong></h1></div><div class="line-vert"></div>
				</div>
				<div class="sixteen columns cbp-so-side cbp-so-side-right">

					<h6 style="text-align:justify;font-family: 'OpenSan-Light-webfont', cursive;">
						Incognito 2018 is a part of Conoscenza that is conducted every year, in order to provide a platform for students to showcase their knowledge and talent. All work and no play makes jack a dull boy! So Incognito is going to be an all inclusive package for learning, fun, food and much more! We look forward to seeing you!
					</h6>
				</div>
			</section>

			</div>
		</div>
		<div id="intro">
			<div class="container-fluid">
				<video autoplay loop>
				  <source src="../intro.mp4" type="video/mp4">
				  <source src="intro.ogg" type="video/ogg">
				Your browser does not support the video tag.
				</video>
</div>
</div>
		<div class="background-pat1-last">
		<div class="container">
		<section class="cbp-so-section">
			<div class="sixteen columns cbp-so-side cbp-so-side-left">
				<h4>Date & Venue</h4>
			</div>
			<div class="sixteen columns cbp-so-side cbp-so-side-right">
				<!--<p>Consectetur est quis mauris accumsan eleifend sit amet non neq. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam consectetur est quis mauris accumsan eleifend sit amet non neq. Vivamus vitae purus eros, nec ullamcorper risus.</p>!-->
			</div>
			<!--<div class="four columns cbp-so-side cbp-so-side-left1">
				<div class="facts">
					<div class="facts-num"><h2></h2></div>
					<div class="facts-icon1"></div>
					<div class="facts-text"><h6></h6></div>
				</div>
			</div>
			!-->
			<div class="four columns cbp-so-side cbp-so-side-left">
				<div class="facts">
					<div class="facts-num"><h2></h2></div>
					<div class="facts-icon5"></div>
					<div class="facts-text"><h6>1st September</h6></div>
				</div>
			</div>
			<div class="four columns cbp-so-side cbp-so-side-right">
				<div class="facts">
					<div class="facts-num"><h2>   </h2></div>
					<div class="facts-icon6"></div>
					<div class="facts-text"><h6>08:30 am</h6></div>
				</div>
			</div>
			<div class="four columns cbp-so-side cbp-so-side-right1">
				<div class="facts">
					<div class="facts-num"><h2></h2></div>
					<div class="facts-icon7"></div>
					<div class="facts-text"><h6>St.Joseph's Institute of Technology</h6></div>
				</div>
			</div>
			<div class="four columns cbp-so-side cbp-so-side-right1">
				<div class="facts">
					<div class="facts-num"><h2></h2></div>
					<div class="facts-icon8"></div>
					<div class="facts-text"><h6>Lab Block II</h6></div>
				</div>
			</div>
		</section>
		</div>
		</div>
		<hr>
		<div class="background-pat1-last">
		<div class="container">
		<section class="cbp-so-section">
			<div class="sixteen columns cbp-so-side cbp-so-side-left">
				<h4>Are you ready?</h4>
			</div>
			<div class="sixteen columns cbp-so-side cbp-so-side-right">
				<!--<p>Consectetur est quis mauris accumsan eleifend sit amet non neq. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam consectetur est quis mauris accumsan eleifend sit amet non neq. Vivamus vitae purus eros, nec ullamcorper risus.</p>!-->
			</div>
			<div class="four columns cbp-so-side cbp-so-side-left1">
				<div class="facts">
					<div class="facts-num"><h2>5</h2></div>
					<div class="facts-icon1"></div>
					<div class="facts-text"><h6>Events</h6></div>
				</div>
			</div>
			<div class="four columns cbp-so-side cbp-so-side-left">
				<div class="facts">
					<div class="facts-num"><h2>4</h2></div>
					<div class="facts-icon2"></div>
					<div class="facts-text"><h6>Arenas</h6></div>
				</div>
			</div>
			<div class="four columns cbp-so-side cbp-so-side-right">
				<div class="facts">
					<div class="facts-num"><h2>3</h2></div>
					<div class="facts-icon3"></div>
					<div class="facts-text"><h6>Prizes per Event</h6></div>
				</div>
			</div>
			<div class="four columns cbp-so-side cbp-so-side-right1">
				<div class="facts">
					<div class="facts-num"><h2>25K</h2></div>
					<div class="facts-icon4"></div>
					<div class="facts-text"><h6>Prizes Worth</h6></div>
				</div>
			</div>
		</section>
		</div>
		</div>
		<div id="parallax-1" class="parallax" style="background-image: url(images/parallax-1.jpg);">
			<div class="parallax-wrap">
				<div class="container">
					<div class="sixteen columns">
						<h5><span>Our Events</span></h5>
					</div>
					<div class="sixteen columns">
						<div id="flkr"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="background-pat" id="events">
		<div class="container">
			<section class="cbp-so-section">
			<div class="eight columns cbp-so-side cbp-so-side-left">
			<div class="profile-proces">
				<div class="h5-text">
					<a href="#devnation"><h5>Dev Nation</h5></a>
				</div>
				<div class="profile-icon"><div class="font-icon">&#xf121;</div></div>
				<p style="font-family: 'Averia Serif Libre', cursive;font-size:20px">Always code as if the guy who ends up maintaining your code will be a violent psychopath who knows where you live.
				</p>
			</div>
			</div>
			<div class="eight columns cbp-so-side cbp-so-side-right">
			<div class="profile-proces">
				<div class="h5-text">
					<a href="#mindsurfer"><h5>Mind Surfers</h5></a>
				</div>
				<div class="profile-icon"><div class="font-icon">&#xf059;</div></div>
				<p style="font-family: 'Averia Serif Libre', cursive;font-size:20px">My idea of relaxation is not lying down by a beach. I have to move around, do stuff. Though I'm a massive quiz show person.</p>
			</div>
			</div>
			<div class="eight columns cbp-so-side cbp-so-side-left">
			<div class="profile-proces">
				<div class="h5-text">
					<a href="#marveldc"><h5>Marvel vs DC</h5></a>
				</div>
				<div class="profile-icon"><div class="font-icon">&#xf086;</div></div>
				<p style="font-family: 'Averia Serif Libre', cursive;font-size:19px">Title May Confuse , Its about Marvel and DC within a single soul . Best Contradications to one's points are made to himself . Got It ? </p>
			</div>
			</div>
			<div class="eight columns cbp-so-side cbp-so-side-right">
			<div class="profile-proces">
				<div class="h5-text">
					<a href="#bringitback"><h5>Bring It Back </h5></a>
				</div>
				<div class="profile-icon"><div class="font-icon">&#xf187;</div></div>
				<p style="font-family: 'Averia Serif Libre', cursive;font-size:20px">Not all treasure‘s silver and gold, mate.  <br>“Rich the treasure,<br>
Sweet the pleasure”</p>
			</div>
			</div>
			<div class="eight columns cbp-so-side cbp-so-side-right">
			<div class="profile-proces">
				<div class="h5-text">
					<a href="#digitalplanet"><h5>Digital Planet</h5></a>
				</div>
				<div class="profile-icon"><div class="font-icon">&#xf13b;</div></div>
				<p style="font-family: 'Averia Serif Libre', cursive;font-size:20px">Design doesn't mean that every person gonna like, love it .
but that's the creativity of those eye which creates something different.</p>
			</div>
			</div>
			<div class="eight columns cbp-so-side cbp-so-side-right">
			<div class="profile-proces">
				<div class="h5-text">
					<h5>Surprise At The End</h5>
				</div>
				<div class="profile-icon"><div class="font-icon">&#xf0fc;</div></div>
				<p style="font-family: 'Averia Serif Libre', cursive;font-size:20px">What More Guys ? <br>Come  Play and Learn With us . Surprising prizes are awaiting you. </p>
				<br>
			</div>
			</div>
			</section>
		</div>
		</div>
	</div>

	<!-- DEV NATION -->
	<div id="team">
		<div class="title" id="devnation">
			<div class="container">
			<section class="cbp-so-section">
				<div class="sixteen columns cbp-so-side cbp-so-side-left">
					<h1><strong><span>What's</span></strong></h1>
					<div class="angle"><h1><strong>Dev Nation</strong></h1></div><div class="line-vert"></div>
				</div>
				<div class="sixteen columns cbp-so-side cbp-so-side-right">
					<h6>Do you think you can code? If you can be the last man standing in the ultimate battle, dev nation is the place for you!</h6>
				</div>
			</section>
			</div>
		</div>
		<div class="background-pat">
		<div class="container">
		<section class="cbp-so-section">
			<div class="eight columns cbp-so-side cbp-so-side-left">
				<div class="team11"><div class="team-name"><h6>DEV NATION</h6></div></div>
			</div>
			<br>
			<br>
			<br>
			<br>
			<div class="eight columns team-list cbp-so-side cbp-so-side-right">
				<h5>Guidelines </h5>
				<ul style="line-height:40%" class="list-team">
					<li class="check"><p>Maximum of 2 members per team.</p></li>
					<li class="check"><p>You may be a Lone Wolf.</p></li>
					<li class="check"><p>Consists of Two(2) Rounds.</p></li>
					<li class="check"><p>MCQs will decide who gets a shot at the finals.</p></li>
					<li class="check"><p>Actual Code War starts.</p></li>
					<br>
					<li class="check"><p style="font-family:'Poiret One',cursive">For any queries contact-</p></li>
					<li class="check"><p><pre style="font-family:'Poiret One',cursive">Rajendran:+91 90962789014</pre></p></li>
					<li class="check"><p><pre style="font-family:'Poiret One',cursive">Revathi Palani:revathipalani7@gmail.com</pre></p></li>

				</ul>
					<div class="cl-effect-18-team">
						<a href="#contact" data-hover="Register">Register</a>
					</div>

			</div>
		</section>
		</div>
		</div>

		<!-- MIND SURFERS -->
		<div class="title" id="mindsurfer">
			<div class="container">
			<section class="cbp-so-section">
				<div class="sixteen columns cbp-so-side cbp-so-side-left">
					<h1><strong><span>What's</span></strong></h1>
					<div class="angle"><h1><strong>Mind Surfers</strong></h1></div><div class="line-vert"></div>
				</div>
				<div class="sixteen columns cbp-so-side cbp-so-side-right">
					<h6>Do you think you can code? If you can be the last man standing in the ultimate battle, dev nation is the place for you!</h6>
				</div>
			</section>
			</div>
		</div>
		<div class="background-pat">
		<div class="container">
		<section class="cbp-so-section">
			<div class="eight columns cbp-so-side cbp-so-side-right">
				<div class="team12"><div class="team-name"><h6>MIND SURFER</h6></div></div>
			</div>
			<br>
			<br>
			<br>
			<br>
<div class="eight columns team-list cbp-so-side cbp-so-side-left">
				<h5>Guidelines </h5>
				<ul class="list-team">
					<li class="check"><p>Maximum of 2 members per team.</p></li>
					<li class="check"><p>You may be a Lone Wolf.</p></li>
					<li class="check"><p>Consists of Two(2) Rounds.</p></li>
					<li class="check"><p>MCQs will decide who gets a shot at the finals.</p></li>
					<li class="check"><p>Actual Code War starts .</p></li><br>
					<li class="check"><p style="font-family:'Poiret One',cursive"><b>For any queries contact-</b></p></li>
					<li class="check"><p><pre style="font-family:'Poiret One',cursive"><b>Aakash: +91 99404754933</b></pre></p></li>
					<li class="check"><p><pre style="font-family:'Poiret One',cursive"><b>Atchaya: gatchaya@outlook.com</b></pre></p></li>
	</ul>
					<div class="cl-effect-18-team">
						<a href="#contact" data-hover="Register">Register</a>
		</div>
		</section>
		</div>
		</div>

		<!-- Digital Planet --><!--
		<div class="background-pat1-last " id="digitalplanet">
		<div class="container">
			<section class="cbp-so-section">
			<div class="sixteen columns cbp-so-side cbp-so-side-left">
				<h4>Digital Planet</h4>
			</div>
			<div class="digital-planet-img">
			</div>
			<div class="sixteen columns cbp-so-side cbp-so-side-right">
				<h6><p>Show power of "Lorem Ipsum " .<br>The web is a beautiful thing isn’t it! Think you can build it yourself? Bring it on! . Should Design a Website based on given theme .</p></h6>
			</div>
			<div class="four columns cbp-so-side cbp-so-side-left1">
				<h5>PHP</h5>
				<div class="bar">
					<input class="knob"  data-width="172" data-skin="tron" data-fgColor="#ffffff" data-thickness=".05" data-readOnly=true value="79">
				</div>
			</div>
			<div class="four columns cbp-so-side cbp-so-side-left">
				<h5>CSS3</h5>
				<div class="bar">
					<input class="knob" data-width="172" data-skin="tron" data-fgColor="#ffffff" data-thickness=".05" data-readOnly=true value="83">
				</div>
			</div>
			<div class="four columns cbp-so-side cbp-so-side-right">
				<h5>HTML5</h5>
				<div class="bar">
					<input class="knob" data-width="172" data-skin="tron" data-fgColor="#ffffff" data-thickness=".05" data-readOnly=true value="92">
				</div>
			</div>
			<div class="four columns cbp-so-side cbp-so-side-right1">
				<h5>JQUERY</h5>
				<div class="bar">
					<input class="knob" data-width="172" data-skin="tron" data-fgColor="#ffffff" data-thickness=".05" data-readOnly=true value="87">
				</div>
			</div>
			</section>
		</div>
		</div>
	</div>
-->
	<!-- MARVEL VS DC -->
	<div class="title" id="marveldc">
			<div class="container">
			<section class="cbp-so-section">
				<div class="sixteen columns cbp-so-side cbp-so-side-left">
					<h1><strong><span>What's</span></strong></h1>
					<div class="angle"><h1><strong>MARVEL vs DC</strong></h1></div><div class="line-vert"></div>
				</div>
				<div class="sixteen columns cbp-so-side cbp-so-side-right">
					<h6>Are you good at making a point? Good! But that’s too mainstream! <br>Let’s see if you can contradict what you say too !</h6>
				</div>
			</section>
			</div>
		</div>
		<div class="background-pat">
		<div class="container">
		<section class="cbp-so-section">
			<div class="eight columns cbp-so-side cbp-so-side-right">
				<div class="team13"><div class="team-name"><h6>MARVEL vs DC</h6></div></div>
			</div>
			<br>
			<br>
			<br>
			<br>
			<div class="eight columns team-list cbp-so-side cbp-so-side-left">
				<h5>Guidelines </h5>
				<ul class="list-team">
					<li class="check"><p>Be a Lone Wolf.</p></li>
					<li class="check"><p>A topic will be given and participants are required to speak for and against the given topic at the judge's command.</p></li>
					<li class="check"><p>Humour and creativity will be much appreciated.</p></li>
	<br>
					<li class="check"><p style="font-family:'Poiret One',cursive"><b>For any queries contact-</b></p></li>
					<li class="check"><p><pre style="font-family:'Poiret One',cursive"><b>Ukesh Raja: +91 9840211379</b></pre></p></li>
					<li class="check"><p><pre style="font-family:'Poiret One',cursive"><b>Gladys: kopsglady@gmail.com</b></pre></p></li>


				</ul>
				<div class="cl-effect-18-team">
					<a href="#contact" data-hover="Register">Register</a>
	</div>

			</div>
		</section>
		</div>
		</div>

	<!-- Bring it Back -->
	<div class="title" id="bringitback">
			<div class="container">
			<section class="cbp-so-section">
				<div class="sixteen columns cbp-so-side cbp-so-side-left">
					<h1><strong><span>What's</span></strong></h1>
					<div class="angle"><h1><strong> Bring It Back</strong></h1></div><div class="line-vert"></div>
				</div>
				<div class="sixteen columns cbp-so-side cbp-so-side-right">
					<h6>Not all treasure‘s silver and gold, mate.
						<br>“Rich the treasure,
							Sweet the pleasure” .<br>
							Who's to say You will code forever. Discover the Jack Sparrow in You.
					</h6>
				</div>
			</section>
			</div>
		</div>
		<div class="background-pat">
		<div class="container">
		<section class="cbp-so-section">
			<div class="eight columns cbp-so-side cbp-so-side-right">
				<div class="team14"><div class="team-name"><h6>BRING IT BACK</h6></div></div>
			</div>
			<br>
			<br>
			<br>
			<br>
			<div class="eight columns team-list cbp-so-side cbp-so-side-left">
				<h5>Guidelines </h5>
				<ul class="list-team">
					<li class="check"><p>Maximum of 2 members per team.</p></li>
					<li class="check"><p>Multi level games with one shot (round) and the last man standing wins.</p></li>
					<li class="check"><p>Be a Pirate.</p></li>
	<br>
					<li class="check"><p style="font-family:'Poiret One',cursive"><b>For any queries contact-</b></p></li>
					<li class="check"><p><pre style="font-family:'Poiret One',cursive"><b>Deepak: +91 8124133547</b></pre></p></li>
					<li class="check"><p><pre style="font-family:'Poiret One',cursive"><b>Lakshmipriya: lakshmipriya2898@gmail.com</b></pre></p></li>


				</ul>
				<div class="cl-effect-18-team">
					<a href="#contact" data-hover="Register">Register</a>
	</div>
			</div>
		</section>
		</div>
		</div>



		<!-- DIGITAL PLANET -->
		<div class="title" id="digitalplanet">
				<div class="container">
				<section class="cbp-so-section">
					<div class="sixteen columns cbp-so-side cbp-so-side-left">
						<h1><strong><span>What's</span></strong></h1>
						<div class="angle"><h1><strong>Digital Planet</strong></h1></div><div class="line-vert"></div>
					</div>
					<div class="sixteen columns cbp-so-side cbp-so-side-right">
						<h6>Are you good at making a point? Good! But that’s too mainstream! <br>Let’s see if you can contradict what you say too !</h6>
					</div>
				</section>
				</div>
			</div>
			<div class="background-pat">
			<div class="container">
			<section class="cbp-so-section">
				<div class="eight columns cbp-so-side cbp-so-side-right">
					<div class="team15"><div class="team-name"><h6>DIGITAL PLANET</h6></div></div>
				</div>
				<br>
				<br>
				<br>
				<br>
				<div class="eight columns team-list cbp-so-side cbp-so-side-left">
					<h5>Guidelines </h5>
					<ul class="list-team">
						<li class="check"><p>Maximum of 2 members per team .</p></li>
						<li class="check"><p>Multi level games with one shot (round) and the last man standing wins .</p></li>
						<li class="check"><p>Be a Pirate.</p></li>
		<br>
						<li class="check"><p style="font-family:'Poiret One',cursive"><b>For any queries contact-</b></p></li>
						<li class="check"><p><pre style="font-family:'Poiret One',cursive"><b>Vivin Jeya Joshua: +91 7395875066</b></pre></p></li>
						<li class="check"><p><pre style="font-family:'Poiret One',cursive"><b>Visalakshi: sala.sakshi1011@gmail.com</b></pre></p></li>


					</ul>
					<div class="cl-effect-18-team">
						<a href="#contact" data-hover="Register">Register</a>
		</div>
				</div>
			</section>
			</div>
			</div>















	<div id="services">
			<h5><center margin-bottom="30px">Hospitality</center></h5>
		<div class="background-pat">

		<div class="container">
		<section class="cbp-so-section">
			<div class="one-third column cbp-so-side cbp-so-side-left">
				<div class="services-offer">
					<h5>Food</h5>
					<div class="services-icon1"></div>
					<p>Make your day special with St.Joseph's Breakfast and Lunch</p>
					<br>
					<br>
					<div class="services-list">
						<!--<ul class="list-services">
							<li><p>Brand Design</p></li>
							<li><p>User Interface</p></li>
							<li><p>Illustrations</p></li>
							<li><p>Social Media</p></li>
							<li><p>Digital Installations</p></li>
						</ul>!-->
					</div>
				</div>
			</div>
			<div class="one-third column cbp-so-side cbp-so-side-right">
				<div class="services-offer">
					<h5>Transport</h5>
					<div class="services-icon2"></div>
					<p>Feeling lonely to travel? MTC Buses will be available connecting all major parts of the city. </p><br>
					<div class="services-list">
						<!--<ul class="list-services">
							<li><p>Product Design</p></li>
							<li><p>User Interface</p></li>
							<li><p>Search Engine Marketing</p></li>
							<li><p>Social Media</p></li>
							<li><p>Digital Installations</p></li>
						</ul>!-->
					</div>
				</div>
			</div>
			<div class="one-third column cbp-so-side cbp-so-side-right1">
				<div class="services-offer">
					<h5>Prizes</h5>
					<div class="services-icon3"></div>
					<p>Three Prizes per Event. Judge's decision will be final and binding</p>
					<br>
					<br>
					<div class="services-list">
						<ul class="list-services">
							<!--<li><p>Interactive Experience</p></li>
							<li><p>User Interface</p></li>
							<li><p>Search Engine Marketing</p></li>
							<li><p>Social Media</p></li>
							<li><p>Digital Installations</p></li>
						</ul>!-->
					</div>
				</div>
			</div>
		</section>
		</div>
		</div>
		<div id="parallax-2" class="parallax" style="background-image: url(images/parallax-2.jpg);">
			<div class="parallax-wrap">
				<div class="container">
					<div class="sixteen columns">
						<h5><span>College Etiquettes</span></h5>
					</div>
					<div class="sixteen columns">
						<div class="slider1">
							<div class="slide">
								<div class="testimonial">
									<h6>All participants should bring <b>College ID card</b> with them.Participants are permitted to enter the campus, only with <b>Formal Dress Code.</b></h6>
								</div>
							</div>
							<div class="slide">
								<div class="testimonial">
									<h6>Registration will close by 08:30 AM. Events will starts at 09:00 AM.</h6>
								</div>
							</div>
							<div class="slide">
								<div class="testimonial">
									<h6>Breakfast and Lunch will be provided by our college.</h6>
									<p>Incognito '18</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="clouds"></div>
			</div>
		</div>


		<div class="background-pat1-last">
		<div class="container">
		<section class="cbp-so-section">
			<div class="services-link">
				<div class="sixteen columns cbp-so-side cbp-so-side-left">
					<h5>ARE YOU READY TO FIND 'YOU'?</h5>
				</div>
				<div class="sixteen columns cbp-so-side cbp-so-side-right">
					<nav class="cl-effect-9">
						<a href="#contact" class="scroll"><span>Get In Touch</span><span>&#xf107;</span></a>
					</nav>
				</div>
			</div>
		</section>
		</div>
		</div>
	</div>

<hr>
	<div id="contact">
		<div class="title">
			<div class="container">
			<section class="cbp-so-section">
				<div class="sixteen columns cbp-so-side cbp-so-side-left">
					<h1><strong><span>LET'S</span></strong></h1>
					<div class="angle"><h1><strong>REGISTER</strong></h1></div><div class="line-vert"></div>
				</div>
				<div class="sixteen columns cbp-so-side cbp-so-side-right">
					<h6>Opportunity Just Ahead</h6>
				</div>
			</section>
			</div>
		</div>


			<div class="background-pat15">
		<div class="container">
		<section class="cbp-so-section">
			<div class="sixteen columns cbp-so-side cbp-so-side-right">
				<form  id="form_reg" >
				<h4 >Say Hello</h4>


					<label for="name">Name: *
						<span class="error" id="err-name" >please enter name</span>

					</label>
					<input name="name" id="name" type="text" v-model="name"  />
					<label for="email">E-Mail: * {{err_email}}

						<span class="error" id="err-email">please enter e-mail</span>
						<span class="error" id="err-emailvld">  </span>
					</label>
					<input name="email" id="email" type="text" v-model="email" />
					<label for="email">College: *
						<span class="error" id="err-email">please Your College name</span>

					</label>
					<input name="email" id="college" type="text" v-model="college" />
					<label for="email">Phone Number: {{err_phone}}
						<span class="error" id="err-email">please enter your phone number</span>
						<span class="error" id="err-emailvld">e-mail is not a valid format</span>
					</label>
					<input name="email" id="phone" type="text" v-model="phone_no" />
					<!-- <button  >Submit</button> -->
					<center>
						<div  class="my_button" v-on:click="createParticipant">Submit</div>
						<!-- <div  class="my_button" v-on:click="setName">Submit</div> -->
					</center>





				</form>

			</div>
		</section>



		</div>
		</div>


		<div id="cons" class="background-pat1-last">
		<div class="contact-info">
			<div class="container">
			<section class="cbp-so-section">

					<h5>Address:</h5>
					<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15558.35116702184!2d80.2184296!3d12.8698794!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x90b3767be093efaa!2sSt.Joseph&#39;s+Institute+of+Technology!5e0!3m2!1sen!2sin!4v1531929190982" width="1000" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

			</section>
			<br>
			<br>
			<br>
			<section class="cbp-so-section">
				<div class="one-third column cbp-so-side cbp-so-side-left">
					<h5>Co-ordinators:</h5>
					<p>Harish  </p>
					<p>Siva Murugan </p>
				</div>
				<div class="one-third column cbp-so-side cbp-so-side-left">
					<h5>Phone:</h5>
					<p>+91 9940317803</p>
					<p>+91 8220250493</p>

				</div>
				<div class="one-third column cbp-so-side cbp-so-side-right">
					<h5>Email:</h5>
					<p>Support: <a href="mailto:incognito2k18.it@gmail.com" title="mailto:incognito2k18.it@gmail.com">incognito2k18.it@gmail.com</a></p>
				</div>
			</section>
			</div>
		</div>
		</div>
	</div>

	<div id="copy">
		<div class="container">
		<section class="cbp-so-section">
			<div class="sixteen columns cbp-so-side cbp-so-side-left">
				<p>© 2018 Incognito. All rights reserved. Theme by IT.</p>
			</div>
			<div class="sixteen columns cbp-so-side cbp-so-side-right">
				<div class="cl-effect-18">
					 <a href="#home" class="scroll">Home</a>
					 <a href="#home" class="scroll">Facebook</a>
						<a href="" class="scroll">Instagram</a>
			</div>
			</div>
		</section>
		</div>
	</div>
</div>

	<!-- JAVASCRIPT
    ================================================== -->
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/modernizr.custom.js"></script>
<script type="text/javascript" src="js/jquery.nicescroll.min.js"></script>
<script type="text/javascript" src="js/jquery.sticky.js"></script>
<script type="text/javascript" src="js/jquery.parallax-1.1.3.js"></script>
<script type="text/javascript" src="js/jquery.localscroll-1.2.7-min.js"></script>
<script type="text/javascript" src="js/jquery.scrollTo-1.4.2-min.js"></script>
<script type="text/javascript" src="js/classie.js"></script>
<script type="text/javascript" src="js/cbpScroller.js"></script>
<script type="text/javascript" src="js/jquery.knob.js"></script>
<script type="text/javascript" src="js/jquery.bxslider.min.js"></script>
<script type="text/javascript" src="js/jquery.easing.min.js"></script>
<script type="text/javascript" src="js/jquery.typer.js"></script>
<script type="text/javascript" src="js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="js/jquery.masonry.min.js"></script>
<script type="text/javascript" src="js/jquery.colorbox.js"></script>
<script type="text/javascript" src="js/owl.carousel.min.js"></script>
<script type="text/jav;ascript" src="js/jquery.mousewheel.js"></script>
<script type="text/javascript" src="js/template.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.18/vue.min.js"></script>
<script type="text/javascript" >

var vue = new Vue({
  			el: '#form_reg',

 			 data: {
    			name :"",
    			email :"",
    			college :"" ,
    			phone_no :"" ,
    			err_email : "" ,
    			err_phone : "" ,
    			err : {
    				"name" : "",
    				"email" : "",
    			} ,

  					},
				  methods: {
				    createParticipant: function () {
				    	// ggg =
				      axios.post("https://incognito18.pythonanywhere.com/api/",
				      	{"name" : this.name ,
				    	 "email" : this.email ,
				    	"college" : this.college ,
				    	"phone_no" : this.phone_no},

      					).then(function(response){
      						alert("Thank u For Registering");
      						vue.name = "";
      						// console.log("sadasdasdasd");
      						vue.email = "" ;
      						vue.college = "";
      						vue.phone_no = "";

      						// console.log(this.success);


      					})
      					.catch(function(error){

      						vue.name = "";
      						// console.log(vue.name);
      						vue.err_email = error.response.data['email'][0];
      						vue.err_phone = error.response.data['phone_no'][0];
      						// alert(this.err_email);

      					})


				    }
				  }
				})

</script>

<!-- End Document
================================================== -->
</body>
</html>
